<!DOCTYPE html>
{% load static %}
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextTrip - Travel</title>
    <link rel="stylesheet" href="{% static 'css/traveldetail.css' %}">
</head>
<body>
    <div class="navbar">
        <div>NextTrip</div>
        <div class="search-container">
            <i class="bi bi-search search-icon"></i>
            <input type="text" placeholder="Search icons..." class="search-input">
        </div>
        <div><a href="{% url 'login' %}" class="login-link">เข้าสู่ระบบ</a></div>
    </div>

    <div class="main-image"></div>


    <div class="container">
        <div class="image-container">
            <img src="{{ result.web_picture_urls.1 }}" alt="">
            <h2>{{ result.place_name }}</h2>
        </div>

        <div class="content">
            <!-- Left content -->
            <div class="content-left">
                <h3>รายละเอียด</h3>
                <p>{{ result.place_information.detail }}</p>
                
                <h3>วิธีการเดินทาง</h3>
                <p>สามารถเดินทางโดยเรือข้ามฟากหรือเรือสปีดโบ๊ตจากพัทยา...</p>
            </div>

            <!-- Right content -->
            <div class="content-right">
                <h3>ข้อมูล</h3>
                <div class="info-box">
                    <p><strong>วันเวลาทำการ:</strong> ทุกวัน 07:00 - 18:00 น.</p>
                    <p><strong>ประเภทแหล่งท่องเที่ยว:</strong> แหล่งท่องเที่ยวทางธรรมชาติ</p>
                    <p><strong>ช่องทางการติดต่อ:</strong> <br>ตำบล: นาเกลือ อำเภอ: บางละมุง จังหวัด: ชลบุรี</p>
                    <p><strong>เว็บไซต์:</strong> <a href="https://www.ipattaya.co/เที่ยวเกาะล้านพัทยา/">https://www.ipattaya.co/เที่ยวเกาะล้านพัทยา/</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>